/* main.css */
#events-container {}

#events-container h4 {
  text-align: left;
  font-weight: bold;
  padding: 0 5%;
  /* Left justify h3 elements */
}

#events-container p {
  font-size: 17px;
  padding: 0 7%;
}

#events-container p b {
  font-weight: bold;
  /* Ensure bold text for <b> tags within <p> */
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #492365;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #a391b1;
}