/* main.css */
#events-container {}

#events-container h4 {
  text-align: left;
  font-weight: bold;
  padding: 0 5%;
  /* Left justify h3 elements */
}

#events-container p {
  font-size: 17px;
  padding: 0 7%;
}

#events-container p b {
  font-weight: bold;
  /* Ensure bold text for <b> tags within <p> */
}